Proyecto2/Client/xml-resources/web-service-references/servicio/wsdl/localhost_8080/TiendaServer/servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.server.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.server.com/" name="servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.server.com/" schemaLocation="http://localhost:8080/TiendaServer/servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario"/>
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="ingresarDireccion">
<part name="parameters" element="tns:ingresarDireccion"/>
</message>
<message name="ingresarDireccionResponse">
<part name="parameters" element="tns:ingresarDireccionResponse"/>
</message>
<message name="ingresarProductoCompra">
<part name="parameters" element="tns:ingresarProductoCompra"/>
</message>
<message name="ingresarProductoCompraResponse">
<part name="parameters" element="tns:ingresarProductoCompraResponse"/>
</message>
<message name="ingresarCarrito">
<part name="parameters" element="tns:ingresarCarrito"/>
</message>
<message name="ingresarCarritoResponse">
<part name="parameters" element="tns:ingresarCarritoResponse"/>
</message>
<message name="insertarProducto">
<part name="parameters" element="tns:insertarProducto"/>
</message>
<message name="insertarProductoResponse">
<part name="parameters" element="tns:insertarProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto"/>
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse"/>
</message>
<message name="generarReporteBusquedaFecha">
<part name="parameters" element="tns:generarReporteBusquedaFecha"/>
</message>
<message name="generarReporteBusquedaFechaResponse">
<part name="parameters" element="tns:generarReporteBusquedaFechaResponse"/>
</message>
<message name="generarReporteRangoFecha">
<part name="parameters" element="tns:generarReporteRangoFecha"/>
</message>
<message name="generarReporteRangoFechaResponse">
<part name="parameters" element="tns:generarReporteRangoFechaResponse"/>
</message>
<message name="generarReporteBusquedaNickname">
<part name="parameters" element="tns:generarReporteBusquedaNickname"/>
</message>
<message name="generarReporteBusquedaNicknameResponse">
<part name="parameters" element="tns:generarReporteBusquedaNicknameResponse"/>
</message>
<message name="generarReporteBusquedaCantidad">
<part name="parameters" element="tns:generarReporteBusquedaCantidad"/>
</message>
<message name="generarReporteBusquedaCantidadResponse">
<part name="parameters" element="tns:generarReporteBusquedaCantidadResponse"/>
</message>
<message name="generarFactura">
<part name="parameters" element="tns:generarFactura"/>
</message>
<message name="generarFacturaResponse">
<part name="parameters" element="tns:generarFacturaResponse"/>
</message>
<message name="listaFacturas">
<part name="parameters" element="tns:listaFacturas"/>
</message>
<message name="listaFacturasResponse">
<part name="parameters" element="tns:listaFacturasResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="cargarArchivoUsuario">
<part name="parameters" element="tns:cargarArchivoUsuario"/>
</message>
<message name="cargarArchivoUsuarioResponse">
<part name="parameters" element="tns:cargarArchivoUsuarioResponse"/>
</message>
<message name="cargarArchivoDireccion">
<part name="parameters" element="tns:cargarArchivoDireccion"/>
</message>
<message name="cargarArchivoDireccionResponse">
<part name="parameters" element="tns:cargarArchivoDireccionResponse"/>
</message>
<message name="cargarArchivoCompra">
<part name="parameters" element="tns:cargarArchivoCompra"/>
</message>
<message name="cargarArchivoCompraResponse">
<part name="parameters" element="tns:cargarArchivoCompraResponse"/>
</message>
<message name="cargarArchivoCarro">
<part name="parameters" element="tns:cargarArchivoCarro"/>
</message>
<message name="cargarArchivoCarroResponse">
<part name="parameters" element="tns:cargarArchivoCarroResponse"/>
</message>
<message name="cargarArchivoProducto">
<part name="parameters" element="tns:cargarArchivoProducto"/>
</message>
<message name="cargarArchivoProductoResponse">
<part name="parameters" element="tns:cargarArchivoProductoResponse"/>
</message>
<message name="cargarArchivoVenta">
<part name="parameters" element="tns:cargarArchivoVenta"/>
</message>
<message name="cargarArchivoVentaResponse">
<part name="parameters" element="tns:cargarArchivoVentaResponse"/>
</message>
<message name="cargarArchivoDetalle">
<part name="parameters" element="tns:cargarArchivoDetalle"/>
</message>
<message name="cargarArchivoDetalleResponse">
<part name="parameters" element="tns:cargarArchivoDetalleResponse"/>
</message>
<message name="generarReporteCompras">
<part name="parameters" element="tns:generarReporteCompras"/>
</message>
<message name="generarReporteComprasResponse">
<part name="parameters" element="tns:generarReporteComprasResponse"/>
</message>
<message name="generarReporteCarrito">
<part name="parameters" element="tns:generarReporteCarrito"/>
</message>
<message name="generarReporteCarritoResponse">
<part name="parameters" element="tns:generarReporteCarritoResponse"/>
</message>
<message name="generarReporteUsuarios">
<part name="parameters" element="tns:generarReporteUsuarios"/>
</message>
<message name="generarReporteUsuariosResponse">
<part name="parameters" element="tns:generarReporteUsuariosResponse"/>
</message>
<message name="generarReporteProductos">
<part name="parameters" element="tns:generarReporteProductos"/>
</message>
<message name="generarReporteProductosResponse">
<part name="parameters" element="tns:generarReporteProductosResponse"/>
</message>
<message name="generarReporteVentas">
<part name="parameters" element="tns:generarReporteVentas"/>
</message>
<message name="generarReporteVentasResponse">
<part name="parameters" element="tns:generarReporteVentasResponse"/>
</message>
<message name="generarReporteGeneral">
<part name="parameters" element="tns:generarReporteGeneral"/>
</message>
<message name="generarReporteGeneralResponse">
<part name="parameters" element="tns:generarReporteGeneralResponse"/>
</message>
<message name="obtenerDirecciones">
<part name="parameters" element="tns:obtenerDirecciones"/>
</message>
<message name="obtenerDireccionesResponse">
<part name="parameters" element="tns:obtenerDireccionesResponse"/>
</message>
<message name="obtenerProductos">
<part name="parameters" element="tns:obtenerProductos"/>
</message>
<message name="obtenerProductosResponse">
<part name="parameters" element="tns:obtenerProductosResponse"/>
</message>
<message name="obtenerCarrito">
<part name="parameters" element="tns:obtenerCarrito"/>
</message>
<message name="obtenerCarritoResponse">
<part name="parameters" element="tns:obtenerCarritoResponse"/>
</message>
<portType name="servicio">
<operation name="Login">
<input wsam:Action="http://servicio.server.com/servicio/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://servicio.server.com/servicio/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://servicio.server.com/servicio/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://servicio.server.com/servicio/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://servicio.server.com/servicio/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://servicio.server.com/servicio/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://servicio.server.com/servicio/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://servicio.server.com/servicio/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://servicio.server.com/servicio/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://servicio.server.com/servicio/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="ingresarDireccion">
<input wsam:Action="http://servicio.server.com/servicio/ingresarDireccionRequest" message="tns:ingresarDireccion"/>
<output wsam:Action="http://servicio.server.com/servicio/ingresarDireccionResponse" message="tns:ingresarDireccionResponse"/>
</operation>
<operation name="ingresarProductoCompra">
<input wsam:Action="http://servicio.server.com/servicio/ingresarProductoCompraRequest" message="tns:ingresarProductoCompra"/>
<output wsam:Action="http://servicio.server.com/servicio/ingresarProductoCompraResponse" message="tns:ingresarProductoCompraResponse"/>
</operation>
<operation name="ingresarCarrito">
<input wsam:Action="http://servicio.server.com/servicio/ingresarCarritoRequest" message="tns:ingresarCarrito"/>
<output wsam:Action="http://servicio.server.com/servicio/ingresarCarritoResponse" message="tns:ingresarCarritoResponse"/>
</operation>
<operation name="insertarProducto">
<input wsam:Action="http://servicio.server.com/servicio/insertarProductoRequest" message="tns:insertarProducto"/>
<output wsam:Action="http://servicio.server.com/servicio/insertarProductoResponse" message="tns:insertarProductoResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://servicio.server.com/servicio/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://servicio.server.com/servicio/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="modificarProducto">
<input wsam:Action="http://servicio.server.com/servicio/modificarProductoRequest" message="tns:modificarProducto"/>
<output wsam:Action="http://servicio.server.com/servicio/modificarProductoResponse" message="tns:modificarProductoResponse"/>
</operation>
<operation name="generarReporteBusquedaFecha">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaFechaRequest" message="tns:generarReporteBusquedaFecha"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaFechaResponse" message="tns:generarReporteBusquedaFechaResponse"/>
</operation>
<operation name="generarReporteRangoFecha">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteRangoFechaRequest" message="tns:generarReporteRangoFecha"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteRangoFechaResponse" message="tns:generarReporteRangoFechaResponse"/>
</operation>
<operation name="generarReporteBusquedaNickname">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaNicknameRequest" message="tns:generarReporteBusquedaNickname"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaNicknameResponse" message="tns:generarReporteBusquedaNicknameResponse"/>
</operation>
<operation name="generarReporteBusquedaCantidad">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaCantidadRequest" message="tns:generarReporteBusquedaCantidad"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteBusquedaCantidadResponse" message="tns:generarReporteBusquedaCantidadResponse"/>
</operation>
<operation name="generarFactura">
<input wsam:Action="http://servicio.server.com/servicio/generarFacturaRequest" message="tns:generarFactura"/>
<output wsam:Action="http://servicio.server.com/servicio/generarFacturaResponse" message="tns:generarFacturaResponse"/>
</operation>
<operation name="listaFacturas">
<input wsam:Action="http://servicio.server.com/servicio/listaFacturasRequest" message="tns:listaFacturas"/>
<output wsam:Action="http://servicio.server.com/servicio/listaFacturasResponse" message="tns:listaFacturasResponse"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://servicio.server.com/servicio/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://servicio.server.com/servicio/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
<operation name="cargarArchivoUsuario">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoUsuarioRequest" message="tns:cargarArchivoUsuario"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoUsuarioResponse" message="tns:cargarArchivoUsuarioResponse"/>
</operation>
<operation name="cargarArchivoDireccion">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoDireccionRequest" message="tns:cargarArchivoDireccion"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoDireccionResponse" message="tns:cargarArchivoDireccionResponse"/>
</operation>
<operation name="cargarArchivoCompra">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoCompraRequest" message="tns:cargarArchivoCompra"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoCompraResponse" message="tns:cargarArchivoCompraResponse"/>
</operation>
<operation name="cargarArchivoCarro">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoCarroRequest" message="tns:cargarArchivoCarro"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoCarroResponse" message="tns:cargarArchivoCarroResponse"/>
</operation>
<operation name="cargarArchivoProducto">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoProductoRequest" message="tns:cargarArchivoProducto"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoProductoResponse" message="tns:cargarArchivoProductoResponse"/>
</operation>
<operation name="cargarArchivoVenta">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoVentaRequest" message="tns:cargarArchivoVenta"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoVentaResponse" message="tns:cargarArchivoVentaResponse"/>
</operation>
<operation name="cargarArchivoDetalle">
<input wsam:Action="http://servicio.server.com/servicio/cargarArchivoDetalleRequest" message="tns:cargarArchivoDetalle"/>
<output wsam:Action="http://servicio.server.com/servicio/cargarArchivoDetalleResponse" message="tns:cargarArchivoDetalleResponse"/>
</operation>
<operation name="generarReporteCompras">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteComprasRequest" message="tns:generarReporteCompras"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteComprasResponse" message="tns:generarReporteComprasResponse"/>
</operation>
<operation name="generarReporteCarrito">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteCarritoRequest" message="tns:generarReporteCarrito"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteCarritoResponse" message="tns:generarReporteCarritoResponse"/>
</operation>
<operation name="generarReporteUsuarios">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteUsuariosRequest" message="tns:generarReporteUsuarios"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteUsuariosResponse" message="tns:generarReporteUsuariosResponse"/>
</operation>
<operation name="generarReporteProductos">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteProductosRequest" message="tns:generarReporteProductos"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteProductosResponse" message="tns:generarReporteProductosResponse"/>
</operation>
<operation name="generarReporteVentas">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteVentasRequest" message="tns:generarReporteVentas"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteVentasResponse" message="tns:generarReporteVentasResponse"/>
</operation>
<operation name="generarReporteGeneral">
<input wsam:Action="http://servicio.server.com/servicio/generarReporteGeneralRequest" message="tns:generarReporteGeneral"/>
<output wsam:Action="http://servicio.server.com/servicio/generarReporteGeneralResponse" message="tns:generarReporteGeneralResponse"/>
</operation>
<operation name="obtenerDirecciones">
<input wsam:Action="http://servicio.server.com/servicio/obtenerDireccionesRequest" message="tns:obtenerDirecciones"/>
<output wsam:Action="http://servicio.server.com/servicio/obtenerDireccionesResponse" message="tns:obtenerDireccionesResponse"/>
</operation>
<operation name="obtenerProductos">
<input wsam:Action="http://servicio.server.com/servicio/obtenerProductosRequest" message="tns:obtenerProductos"/>
<output wsam:Action="http://servicio.server.com/servicio/obtenerProductosResponse" message="tns:obtenerProductosResponse"/>
</operation>
<operation name="obtenerCarrito">
<input wsam:Action="http://servicio.server.com/servicio/obtenerCarritoRequest" message="tns:obtenerCarrito"/>
<output wsam:Action="http://servicio.server.com/servicio/obtenerCarritoResponse" message="tns:obtenerCarritoResponse"/>
</operation>
</portType>
<binding name="servicioPortBinding" type="tns:servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarProductoCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarCarrito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteBusquedaFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteRangoFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteBusquedaNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteBusquedaCantidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoCarro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarArchivoDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteCompras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteCarrito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReporteGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDirecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCarrito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio">
<port name="servicioPort" binding="tns:servicioPortBinding">
<soap:address location="http://localhost:8080/TiendaServer/servicio"/>
</port>
</service>
</definitions>